---
title: Declare App Dependencies
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

<%= vars.product_short %> recognizes an app as a Ruby app by the existence of a `Gemfile` file in the root directory.

The demo app you deployed already has a `Gemfile`, and it looks something like this:

```ruby
source 'https://rubygems.org'

gem 'puma'
gem 'rack-coffee'

group :web do
  gem 'haml'
  gem 'sinatra'
  gem 'sass'
end

group :development do
  gem 'sinatra-reloader'
end
```

The `Gemfile` file specifies the dependencies that should be installed with your application.

When an app is deployed, <%= vars.product_short %> reads this file and installs the appropriate Ruby version together with the dependencies using the `bundle install` command.

Now run `bundle install` in your local directory to install the dependencies, preparing your system for running the app locally:

<pre class="terminal">
$ bundle install
Using backports 3.3.5
Using coffee-script-source 1.6.2
Using multi_json 1.7.6
Using tilt 1.4.1

...
</pre>

<p class="note">
  <strong>Pro Tip</strong>: Cloud Foundry defaults to using the latest versiob of Ruby 2.2. It's good practice to specify the Ruby version to use in your <code>Gemfile</code>. Be aware though, that Cloud Foundry only accepts the Ruby versions specified <a href="https://github.com/cloudfoundry/ruby-buildpack/blob/develop/manifest.yml" target="_blank">here</a>.
</p>

Once dependencies are installed, you will be ready to run your app locally.

<div style="text-align:center;margin:3em;">
  <a href="./run-locally.html" class="btn btn-primary">I've installed the App dependencies locally</a>
</div>
