---
title: Introduction
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

This tutorial will have you deploying a Ruby app in minutes.

Hang on for a few more minutes to learn how it all works, so you can make the most out of <%= vars.product_full %>.

The tutorial assumes that you have:

* An <a href="https://console.developer.swisscom.com" target="_blank"><%= vars.product_short %> account</a>
* Ruby 2.2.4 <a href="https://www.ruby-lang.org/en/documentation/installation/" target="_blank">installed locally</a>
* <a href="http://bundler.io" target="_blank">Bundler</a> installed locally (run `gem install bundler`)

Furthermore, you must have a first Cloud Foundry <a href="http://docs.developer.swisscom.com/concepts/roles.html#orgs" target="_blank">Organization</a> and <a href="http://docs.developer.swisscom.com/concepts/roles.html#spaces" target="_blank">Space</a> to push your apps to. In case you don't have that yet, please follow the <a href="https://console.developer.swisscom.com" target="_blank">tutorials in the web console</a> before returning here.

<div style="text-align:center;margin:3em;">
  <a href="./set-up.html" class="btn btn-primary">I'm ready to start</a>
</div>
