---
title: Add a Manifest File
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

It's tedious to keep having to specify the app name and other variables each time we push our app. That's where a `manifest.yml` file comes in handy. It holds all the configuration for our app so that Cloud Foundry will know what to do with it. Create a `manifest.yml` file in the root folder of your app and add the following content (don't forget to replace the "my-random-hostname" with your creative hostname again):

```YAML
---
applications:
- name: my-ruby-app
  memory: 128MB
  instances: 1

  host: my-random-hostname

  services:
  - my-mariadb

  env:
    RACK_ENV: production
```

The file tells Cloud Foundry that this is an application with the name `my-ruby-app` and the specifications made above. This means that from now on, you'll be able to push your App with the simple command:

<pre class="terminal">
$ cf push
</pre>

You can define many more variables in a manifest file. To find more information about application manifests, go to the <a href="../devguide/deploy-apps/manifest.html" target="_blank">About Apps</a> part of this documentation.

<div style="text-align:center;margin:3em;">
  <a href="./next-steps.html" class="btn btn-primary">I've added a manifest</a>
</div>
