---
title: Prepare the App
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

In this step, you will prepare a simple application that can be deployed.
Execute the following commands to clone the sample application:

<pre class="terminal">
$ git clone https://github.com/swisscom/cf-sample-app-ruby.git
$ cd cf-sample-app-ruby
</pre>

You now have a functioning git repository that contains a simple application as well as a `Gemfile` file, which is used by Ruby’s dependency manager bundler.

<div style="text-align:center;margin:3em;">
  <a href="./deploy.html" class="btn btn-primary">I cloned the App source</a>
</div>
