---
title: Prepare the App
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

In this step, you will prepare a simple application that can be deployed.
Execute the following commands to clone the sample application:

<pre class="terminal">
$ git clone https://github.com/swisscom/cf-sample-app-ruby.git
$ cd cf-sample-app-ruby
</pre>

You now have a functioning git repository that contains a simple <a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a> application as well as a `Gemfile` file, which is used by Ruby’s dependency manager bundler.

<p class="note">
  <strong>Note</strong>: In case you are stuck during the tutorial, you can always check out the <a href="https://github.com/swisscom/cf-sample-app-ruby/tree/final-result" target="_blank"><code>final-result</code></a> branch of the sample app repo to see what your code should look like.
</p>

<div style="text-align:center;margin:3em;">
  <a href="./deploy.html" class="btn btn-primary">I cloned the App source</a>
</div>
