---
title: Push Local Changes
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

In this step you’ll learn how to propagate a local change to the application through to <%= vars.product_short %>. As a simple change, we'll modify the title which the app shows.

Change the `%h1` property in the `views/index.haml` file to 'I am awesome!'. Your final result should look something like this:

```haml
%h1 I am awesome!
%p Welcome to the Swisscom Application Cloud!
```

Now test locally:

<pre class="terminal">
$ bundle exec ruby app.rb -p 3000
</pre>

Visiting your application at <a href="http://localhost:3000" target="_blank">http://localhost:3000</a>, you should see the changed title. **You are awesome!**

Now deploy. All you need to do is `cf push` again:

<pre class="terminal">
$ cf push my-ruby-app
</pre>

Finally, check that everything is working by visiting your app's URL from your web browser.

<div style="text-align:center;margin:3em;">
  <a href="./environment.html" class="btn btn-primary">I can push local changes</a>
</div>
