---
title: Run the App Locally
owner: Tobias Fuhrimann
---

<strong><%= modified_date %></strong>

Now start your application locally using the `bundle exec` command:

<pre class="terminal">
$ bundle exec ruby app.rb -p 3000

Puma 2.0.1 starting...
* Min threads: 0, max threads: 16
* Environment: development
* Listening on tcp://localhost:3000
== Sinatra/1.4.3 has taken the stage on 3000 for development with backup from Puma
</pre>

Open [http://localhost:3000](http://localhost:3000) with your web browser. You should see your app running locally.

To stop the app from running locally, in the CLI, press `Ctrl+C` to exit.

<div style="text-align:center;margin:3em;">
  <a href="./push-changes.html" class="btn btn-primary">I can run my App locally</a>
</div>
